#contact-btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 200px;
    background-color: #F4F7FF;
    margin: 5px 0px;
    box-sizing: border-box;
    box-shadow:2px 0px 20px rgba(0,0,0,0.4); 
   }
   .c-b-heading{
    font-size: 2rem;
    color:#1E1E1E;
    font-family: calibri;
    margin: 10px;
    padding: 5px;
    letter-spacing: 4px;
    border-bottom: 2px solid #1E1E1E;
    
   }
   #contact-btn button{
    color:#FFFFFF;
    font-size: 1rem;
    font-family: calibri;
    width:150px;
    height: 40px;
    margin: 10px;
    padding: 0.5rem 0;
    background-color: #1E1E1E;
    border: none;
    outline: none;
    box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
    cursor: pointer;
   }
   #contact-btn button:hover{
    background-color: #17d1ac;
    color:#000000;
    transition: all ease 0.5s;
    font-weight: bold;
   }
   #contact-form{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
   }





#contact-form{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#161616; 
    
   }
   #contact-form form{
    display: flex;
    width: 70%;
    height: 60vh;
    background-color: #1A1A1A;
    box-shadow: 2px 12px 20px rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.01)
   }
    
   .contact-left{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .contact-right{
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(255,255,255,0.08);
   }
   .contact-right button{
    width: 100%;
    height: 50px;
    background-color: #1ED98B;
    font-weight: bold;
    outline: none;
    border: none;
    margin: 0px;
    padding: 0.9rem 0;
    color:#1B1B1B;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    
   }
   .c-l-heading{
    font-family: calibri;
    color:#FFFFFF;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 400;
    
   }
   .f-name,.f-email{
    display: flex;
    flex-direction: column;
    font-family: calibri;
    
   }
   .f-name font,.f-email font{
    color:#BFBFBF;
    font-size: 22px;
   }
   .f-name input,.f-email input{
    height: 30px;
    width:250px;
    border: none;
    outline: none;
    background-color:transparent;
    border-bottom: 1px solid #929292;
    color:#FFFFFF;
    margin: 10px 0px;
   }
   .f-email input::placeholder,
   .f-name input::placeholder{
    opacity: 0.5;
    letter-spacing: 1px;
   }
   .f-email input:focus,
   .f-name input:focus{
    border-bottom: 1px solid #17d1ac;
    transition: all ease 0.5s;
   }.message font{
    font-size: 18px;
    color:#4E4E4E;
    font-family: calibri;
    
   }
   .message{
    margin: 20px;
   }
   .contact-right textarea{
    width: 100% !important;
    height: 320px !important;
    border: none;
    outline: none;
    background-color:transparent;
    box-sizing: border-box;
    color:#EBEBEB;
    font-size: 16px;
   }
   .contact-right textarea::placeholder{
    color:#EBEBEB;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: calibri;
   }
   .contact-right button:active{
    transform: scale(1.04);
    transition: all ease 0.1s;
   }


   @media(max-width:900px){
    
    .c-b-heading{
     font-size: 1.4rem;
     text-align: center;
    }
    
    #contact-form{
     padding: 20px;
     height: auto;
     box-sizing: border-box;
    }
    
    
    #contact-form form {
     flex-direction: column;
     height:auto;
     padding: 20px;
     width:90% !important;
    
    }
    .contact-left,.contact-right{
     width:100%;
     border: none;
    }
    .f-name,.f-email{
     width: 100%;
    
    }
    .f-name input,.f-email input{
     width:100%;
     border: none;
     background-color: #262626 !important;
     padding: 10px;
     box-sizing: border-box;
     height: 40px;
     
    }
    textarea{
     background-color: #262626 !important;
     margin: 10px 0px;
     padding: 10px;
     height: 200px !important;
     width:100% !important;
    }
    .message{
     margin:0px;
    }
    #contact-form form h1{
     margin:5px 0px;
    }
    
    
   }